<h2>BIENVENIDO</h2>
<h3>Ingresa tus datos</h3>
<form action="/api/users" method="post">
  Nombre: <input type="text" name="first_name" id="firstname" />
  Apellido: <input type="text" name="last_name" id="lastname" />
  Correo: <input type="email" name="email" id="email" />
  Contrasena: <input type="password" name="password" id="password" />
  <input type="submit" value="REGISTRARSE" />
</form>
